apiVersion: v1
kind: Service
metadata:
  name: {{ include "ui-extension.fullname" . }}-svc
  labels:
    {{- include "ui-extension.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      protocol: TCP
      targetPort: {{ .Values.service.port }}
  selector:
    {{- include "ui-extension.labels" . | nindent 4 }}
