replicaCount: 1

image:
  repository: ghcr.io/leooamaral/ui-extension-suseai-rancher-ext
  tag: "0.1.0"
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8080

podAnnotations: {}
podLabels: {}

resources:
  limits:
    cpu: "100m"
    memory: "256Mi"
  requests:
    cpu: "100m"
    memory: "256Mi"

probes:
  liveness:
    enabled: true
    path: /
    port: 8080
    periodSeconds: 10
  readiness:
    enabled: true
    path: /
    port: 8080
    periodSeconds: 10

nodeSelector: {}
tolerations: []
affinity: {}

rollingUpdate:
  maxSurge: 25%
  maxUnavailable: 25%
